.container {
    display: flex;
    flex-direction: column;
    text-align: center;
  
    img {
      width: 100px;
      max-width: 250px;
    margin: 25px;
      align-self: center;
      background-color: var(--project-card-bg);
      border-radius: 20px;
      transition: transform 0.3s ease; 
   
    }


  }
  .container img:hover {
    transform: translateY(-18px); /* Moves the image up by 10px on hover */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
  }

  @media (min-width: 800px) {
    .projectsContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 0 30px;
    }
    
    
  }